{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Главная страница</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
  <h2>Страница Регистрации</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ pizzashop_form.as_p }}
    <button type="submit">Зарегистрировать</button>
  </form>
</body>
</html>
