{% extends 'base.html' %}

{% block title %}
  Пицца {{ pizza.name }}
{% endblock %}

  {% block page %}
  <a href="{% url 'home' %}">Главная</a>
    <div>
      <h2>{{ pizza.name }}</h2>
        {% if pizza.photo %}
          <img src="{{ pizza.photo.url }}" alt="{{ pizza.name }}">
        {% endif %}
      <div>{{ pizza.short_description }}</div>
      <div>{{ pizza.price|floatformat:"2" }}</div>
    </div>
    <h2>Заказ</h2>
    {% if sent %}
      <h2>Спасибо, Ваша заявка принята!</h2>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_ul }}
      <input type="submit" value="Отправить заказ">
    </form>
  {% endblock %}
