{% extends 'base_signup.html' %}
{% load bootstrap4 %}

{% block title %}Войти{% endblock %}

{% block heading %}Пиццерия - страница входа!{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>Владелец</h3>
  {% bootstrap_form user_form %}
  <h3>Пиццерия</h3>
  {% bootstrap_form pizzashop_form %}
  <button type="submit" class="btn btn-red float-right">Зарегистрироваться</button>
</form>
<a href="{% url 'pizzashop-sign-in' %}">У Вас есть профиль?</a>
{% endblock %}
